<html>
<head>
	<head>
        <%- include ('./layout/head') %>
    </head>
</head>
<body >
	<header>
		<%- include ('./layout/header_not_logged') %>
	</header>

	<main class="text-center pt-5 mt-5">
		<form action="/signin" class="form-signin" method="post">
			<div class="text-center pb-3">
					<p class="h1"><i class="fas fa-user"></i></p><br>
					<p class="h4">LOGIN</p>		
					<% if(wrong){ %>
					<div class="alert alert-danger" role="alert">
						<%= errmsg %>
						<% if(errtype == 'unauth') {%>
							<a data-toggle="modal" data-target="#certification_modal">인증메일 다시 보내기</a>
						<% } %>
					</div>
				<% } %>
			</div>

			<div class="card p-3 mt-3">
				<div class="input-group mb-2 d-flex flex-column">
					<label for="email" class="align-self-start">Email address</label>
					<input type="email" name="email" id="email" class="form-control" required autofocus>
				</div>
				<div class="input-group mb-4 d-flex flex-column">
					<div class="d-flex justify-content-between">
						<label for="password">Password</label>
						<a href="/reset" class="ml-auto">비밀번호 찾기</a>
					</div>
					<input type="password" name= "password"id="password" class="form-control" required>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				<a href="/oauth" class="btn btn-block btn-lg btn-warning btn_login">KaKao</a>

			</div>
			<div class="card pt-3 mt-3 text-center">
				<p>계정이 없으시다구요? <a href='http://localhost:3000/signup'>회원가입</a>하기!</p>
			</div>

		</form>
		

	</main>


	<!-- script -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
